<div>
	<h3>ibeacon-test-app</h3>
	<button ng-click="monitoringStart()">monitoringStart</button>
	<button ng-click="monitoringStop()">monitoringStop</button>
	<br>
	<button ng-click="rangeStart()">rangeStart</button>
	<button ng-click="rangeStop()">rangeStop</button>
	<br>
	<div ng-show="isRange" ng-repeat="msg in msgs">
		id : {{msg.identifier}}
		<br>
		range_uuid : {{msg.uuid}}
		<br>
		range_minor : {{msg.minor}}
		<br>
		range_prox : {{msg.proximity}}
		<br>
		range_acc : {{msg.acc}}
		<br>
		<br>
	</div>
	<div ng-hide="isRange" ng-repeat="msg in msgs2">
		id : {{msg.identifier}}
		<br>
		range_uuid : {{msg.uuid}}
		<br>
		range_minor : {{msg.minor}}
		<br>
		range_prox : {{msg.state}}
		<br>
		<br>
	</div>
</div>